*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eaeaea;
    font-family: verdana;
   
}
html{
   /* overflow: hidden;
    font-size: 62.5%;*/
   overflow-X: hidden;
}
html::-webkit-scrollbar{
    width: 15px;
    height: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color:#ffc107;
}
html::-webkit-scrollbar-track{
    background-color: #1e1e1eaf;
}
.logo{
    opacity: 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #1743e3;
    animation: animeRight 2.5s ease infinite;
   
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;
    width: 100%;
    z-index: 1000;
    background-color: #eeeeeef2;
}

.social-media{
    width: 8em;
    background-color: transparent;
    height: 2em;
   display: flex;
   justify-content: space-between;
}

.social-media a{
    border: 1px solid transparent;
    transform: rotate(45deg);
    display: inline-flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   height: 1.5em;
   width: 1.5em;
   transition: 1s;
  /* animation: animeLeft .3s ease forwards;
   animation-delay: calc(.2s * var(--i));*/
  
}

.social-media a:hover{
    border-color:  #1743e3;  
}
.social-media a i{
    transform: rotate(-45deg);
    padding: 0.1em;
    color: #1743e3;
}

nav a{
    text-decoration: none;
   color: #222;
   margin: 0 0.1em;
   font-weight: 500;
   transition: 0.3s;
   animation: animeTop 1s ease forwards;
   opacity: 0;
   display: inline-block;
   animation-delay: calc(.2s * var(--i));
}
a.active,nav a:hover{
    color: #1743e3;
}
nav a:hover{
    border-bottom: 2px solid #1743e3;
}

.home{
    display: flex;
    height: 100vh;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    overflow: hidden;
    width: 100%;
   /*position: relative;*/
}

.home-content{
    max-width: 630px;
}
.title{
    animation: animeBottom 2s ease forwards;
    transition: 0.3s;
    animation-direction: alternate;
    /*animation-delay: 1.5s;*/
}
.text-primary{
    opacity: 0;
    animation: animeRight 2.5s ease forwards;
}
.text-muted{
    opacity: 0;
    animation: animeLeft 2.5s ease forwards;
}
.btn{
    opacity: 0;
    animation: animeTop 2.5s ease forwards;
}
.home-img{
    width: 400px;
    height: 400px;
    position: relative;
    transform: rotate(25deg);
   z-index: -1000;
}
/*
.home-img .img-content{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 22px solid #1743e3;
   /* z-index: 100;*//*
   
    box-shadow: 0 0 10px black;
}
.home-img .img-content img{
    position: absolute;
   max-width: 700px;
   width: 100%;
   transform: rotate(-25deg);
   z-index: 0;
   top: 110px;
   left: -200px;
}*/
.home-img .img-content img{
    transform: rotate(-25deg);
    z-index: -100000;
    position: absolute;
}
.vide{
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: #1743e3;
    transform: rotate(25deg);
    top: -35%;
    right: -15%;
    z-index: -100000;
}

@keyframes animeRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes animeTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes animeLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes animeBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
}

 /*____________________________une autre partition pour faire slider des produits_________________________ */
 #slide{
    width: 415px;
  }
  .slider{
    width: 415px;
    overflow: hidden;
    margin: 50px auto;
  }
  .slides{
    width: calc(415px * 5);
    animation: glisse 30s infinite;
  }
  .slide{
    float: left;
  }
  
  @keyframes glisse{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    20%{
      transform: translateX(-415px);
  }
  30%{
    transform: translateX(-415px);
  }
    40%{
        transform: translateX(-830px);
    }
    50%{
      transform: translateX(-830px);
  }
    60%{
        transform: translateX(-1245px);
    }
    70%{
        transform: translateX(-1245px);
    }
    80%{
      transform: translateX(-1660px);
  }
  90%{
      transform: translateX(-1660px);
  }
   
  100%{
    transform: translateX(0);
  }
  }

/*____________section 2_______________*/
.import{
   /* height: 100vw;*/
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   
}
.d-grid{
    margin: 10px 30px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;
    flex-wrap: wrap;
}
.d-grid .group{
    width: 450px;
    height: 500px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
}

.d-grid .group .star{
    display: flex;
    flex-direction: column;
}

.d-grid .group .star .star-s{
    display: flex;
    justify-content: space-between;
}


:root{
    --footer-bg:#756e6e;
}

footer{
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color:var(--footer-bg) ;
}

/*_______proprites bacground_____________*/
.background{
    background: url("font.png")no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 45px;
}
.text-white{
    line-height: 35px;
}

/*.opacity{
    position: absolute;
    top: 20%;
    left: 30px;
    width: 500px;
    height: 400px;
    background-color: #ffffff10;
}*/

.grid div{
    border: 2px solid #f5f6fa;
    /*background-color: aqua;*/
    width: 250px;
    height: 250px;
    box-shadow: 0 0 1px black;
   /* width: 200px;
    min-height: 100px;
    padding: 10px;
    height: 100%;
    margin-bottom: 10px;*/
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    /*grid-column-gap: 10px;*/
    gap: 15px;
    
}
.grid .child{
   grid-row: 1 / span 3;
   grid-column: 1 / span 3;
    background-color: #fff;
   width: auto;
   height: auto;
   box-shadow: 0 0 7px black;
}
.grid .child img{
    width: 100%;
   /*height: 100%;*/
 
}
.grid div img{
    width: 100%;
   cursor: pointer;
   /*height: 100%;*/
 
}
.grid div img:hover{
  
    transform: scale(0.9);
   /*height: 100%;*/
}

/*-----------border-radius------------*/
.transform{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 13px;
}
.transform .groupe{
 transition: 0.5s;  
width: 300px;
height: 400px;
background-color: #1743e3;
box-shadow: 0 0 10px black;
display: flex;
flex-direction: column;
}

.transform .groupe:hover{
transform: translateY(-20px);
   }
.transform .groupe .translate{
   width: 100%;
   height: 200px;
   padding: 10px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #999;
    }
.paragraph{
    width: 100%;
    padding: 20px;
}
 .paragraph p{
       font-weight: 500;
       font-size: 20px;
       transition: .5s;
       color: white;
 }
.paragraph p:hover{
color: #ffc107;
transform: translateX(20px);
}